<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
      Hi, <%= @first_name %>
    </p>

    <p>
      A new submission of the Team Operating Agreement has been made by <%= @submitter_first_name %> <%= @submitter_last_name %>, please Login to TeamWorks and Accept or Reject the submission.
    </p>

    <p>
      Kind Regards
    </p>

    <p>
      The TeamWorks team
    </p>
    
  </body>
</html>