/* line 1, app/assets/stylesheets/switch_toogle.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 23px;
}

/* line 8, app/assets/stylesheets/switch_toogle.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* line 14, app/assets/stylesheets/switch_toogle.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

/* line 26, app/assets/stylesheets/switch_toogle.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

/* line 38, app/assets/stylesheets/switch_toogle.scss */
input:checked + .slider {
  background-color: #2196F3;
}

/* line 42, app/assets/stylesheets/switch_toogle.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/* line 46, app/assets/stylesheets/switch_toogle.scss */
input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
/* line 53, app/assets/stylesheets/switch_toogle.scss */
.slider.round {
  border-radius: 21px;
}

/* line 57, app/assets/stylesheets/switch_toogle.scss */
.slider.round:before {
  border-radius: 50%;
}

/* line 61, app/assets/stylesheets/switch_toogle.scss */
.text_gray {
  color: gray !important;
}
