- # View for admin page
- # Authors: Anton Minkov && Laney Deveson
- # Date: 04/04/2021

- content_for :title, "Admin"

.container.body_whole.bg_none
  = simple_form_for :admin_choice do |f|
    - if can? :manage, :admin_privileges
      .container-fluid.bg_none_margin
        = f.button :submit, "Manage System Privileges", name:"manage_privileges", class: "btn btn-primary choose_buttons justify-content-left button_gradient bigger transit_timer", id:"submit_choice"
    .container-fluid.bg_none_margin
      = f.button :submit, "Manage Modules", name:"manage_modules", class: "btn btn-primary choose_buttons justify-content-left button_gradient bigger transit_timer", id:"submit_choice"

























