- # View for Team Operating Agreement(TOA)
- # Authors: Anton Minkov && Laney Deveson
- # Date: 12/04/2021

- content_for :title, "Team Operating Agreement"

.container.body_whole_custom
  - # Check if TOA is submitted or finished
  - if @current_team.toa_status == "submitted" || @current_team.toa_status == "finished"
    .container.container_middle.special_margin_top
      //Height 6900 for full template to show
      %iframe{src: "#{rails_blob_path(@current_team.document, disposition: :inline)}", width: "900", height: "1200"}
  - else
    .container.margin_top
      %h1.bigger There is no Team Operating Agreement Submission
      %hr.group_line
  - if @current_team.toa_status == "in_progress"
    - # Upload a TOA as .pdf file if you are in a currently active period
    .container
      %i Upload a .pdf file with the Team Operating Agreement
    = form_tag(toa_path(team_id: params[:team_id]), :multipart => true) do
      %input#custId{name: "team_id", type: "hidden", value: params[:team_id]}/
      .container
        .input-group
          .custom-file
            %input#file#customFileInput.custom-file-input{"aria-describedby" => "customFileInput", name: "file", type: "file"}
            %label.custom-file-label{for: "customFileInput"} Select file
        .input-group-append.margin_left_none.special_margin_top.margin_bottom_small
          %input.btn.btn-primary.agreement_buttons.justify-content-center.float_left_override{"data-disable-with" => "Upload", name: "commit", type: "submit", value: "Submit"}/
          
      :javascript
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
          var name = document.getElementById("customFileInput").files[0].name;
          var nextSibling = e.target.nextElementSibling
          nextSibling.innerText = name
        })
  - else
    - # Display TOA status
    .container-fluid.white_bg.push_top.container_middle
      %form#acceptreject{action: toa_path(team_id: params['team_id']), method: "get"}
        %input#custId{name: "team_id", type: "hidden", value: params[:team_id]}
        - if @student_signed_status == false
          %button.btn.btn-primary.agreement_buttons_2.justify-content-center.button_toa_1{form: "acceptreject", type: "submit", value: "Accept", name: "accept_button"} Accept
          %button.btn.btn-primary.agreement_buttons_2.justify-content-center.button_toa_2{form: "acceptreject", type: "submit", value: "Reject", name: "reject_button"} Reject
        - elsif @student_signed_status == true && @current_team.toa_status == "submitted"
          %button.btn.btn-primary.half_button.justify-content-center.button_toa_1{form: "acceptreject", type: "button", value: "Signed", name: "signed_button"} Signed
        - elsif @current_team.toa_status == "finished"
          %button.btn.btn-primary.half_button.justify-content-center.button_toa_1{form: "acceptreject", type: "button", value: "Agreement accepted", name: "agreement_accepted_button"} Agreement accepted   