- if @team_info != nil
  - if @module_info.level == 4 || @module_info.level == 5
    %h6.d-flex.align-items-center.mb-2.text_center
      %i.material-icons.text-info.mr-2 feedback
      Overall Average Feedback 
    .hr.group_line.mb-3
    - # Store the values
    - feedback_values = ['Average',
    - 'Attendance and Punctuality',
    - 'Attitude and Commitment',
    - 'Quality, accuracy and completeness',
    - 'Communication',
    - 'Collaboration',
    - 'Leadership',
    - 'Professionalism and ethics']

    - # -------------------------------------------------------------------
    - # BLAME HAML FOR LONG LINES AND MESSING WITH INDENTATION! HTML > HAML
    - # -------------------------------------------------------------------
    - # Saving matrix info - can change at any time         
    - attendance = ["You have had one of more absences or late arrivals to scheduled team activities and have not explained these to the team. You may have let other commitments impact your contribution. Your performance is detracting from the team’s work.",
    - "You have had one or more absences or late arrivals to scheduled team activities and could have done a better job of notifying the team in advance. Your absence has not yet caused significant harm to the team, but you need to improve.", 
    - "You have been prompt and attended every team event, or have excused yourself with good reason. If you have been absent, you have caught up with another group member as soon as possible.", 
    - "You have been prompt and attended every team event, or have excused yourself with good reason. You have planned ahead for absences (such as interviews or medical appointments) and/or busy periods in your schedule with other deadlines, to ensure that they do not adversely affect the team."]
    - attitude = ["You usually bring a negative attitude to the team, are unfocused, and do not make much effort. Your lack of commitment has created a burden for the team, and/or has required changes in the schedule to ensure we can still meet the deadline.",
    - "You sometimes bring a negative attitude to the team, and can lack focus. You sometimes do not try as hard as you could. You you are not undertaking your fair share of the workload and/or are not producing work to the agreed schedule.",
    - "You bring a positive attitude to the team, are generally focused, and work hard most of the time. You you are undertaking your fair share of the workload, and complete work to the agreed schedule.",
    - "You bring a very positive attitude to the team, are focused, and consistently give your best. You you are undertaking your fair share of the workload and may be assisting others with their contributions. You complete work on time or ahead of schedule."]
    - qac = ["You have not completed your contributions, or your work is clearly insufficient, incomplete, or contains basic inaccuracies. The team cannot proceed without completing this work or re-doing it entirely.",
    - "You have not made as much progress as you could have done with your contributions. Work that has been completed is on the right lines, but needs checking for basic errors. You need to put in extra effort to complete work to the standard agreed in our team vision/mission.",
    - "You have completed or made solid progress on all of your contributions and they are sufficient and mostly error-free. If anything is incomplete, it is because you have identified valid problems or questions. You have clearly put effort into making the work of the standard agreed in our team vision/mission.",
    - "You have completed all of your contributions and they are accurate, and essentially in final form. If anything is incomplete, it is because you identified valid problems or questions, and raised these with the team as soon as possible. Your work clearly meets or exceeds the standard agreed in our team vision/mission."]
    - communication = ["You do not contribute to discussions, and/or fail to reply to messages appropriately. You do not listen to others. Your not communicating effectively means the team lacked important information or hit problems that you could have prevented.",
    - "Your contribution is patchy with minimal input to discussions and generally poor responses to messages. You do not always listen effectively to others, and need to think about how you share important information the rest of the team needs to succeed.",
    - "You communicate well with the team in meetings and via messages, mostly sharing your ideas clearly. You listen to others effectively and respectfully. You actively ensure you keep everyone up-to-date on your aspects of the work.",
    - "Your communication is excellent both orally and in writing. You listen to others effectively and respectfully, and regularly check your and the group’s understanding. You proactively ensure that everyone is up-to-date and shares important information."]
    - collaboration = ["You are frequently rude to others, and work in isolation without consulting the team on your contributions. You do not offer feedback to others, and react negatively if you receive feedback from your team. You cause conflicts within the team and take no responsibility for helping the team work together.",
    - "You come across abrupt and offhand, and tend to work in isolation without consulting the team. You are not receptive to feedback from others. You may sometimes cause conflicts within the team and could do more to help the team work together.",
    - "You are polite and courteous to others, and dedicated to the team. You encourage other members of the team, sometimes providing supportive feedback. You try to respond to feedback that others give to you. You make a positive contribution to team harmony.",
    - "You go above and beyond to help and encourage others. You actively provide praise and constructive criticism to help others make their best contribution. You seek and take account of feedback on your own contributions. You actively help to navigate team disagreements positively."]
    - leadership = ["You made no contribution to the direction of the team, by not engaging in setting team goals and not getting involved in idea generation or problem solving.",
    - "You did not make much contribution to setting team goals, and focus on your own contributions rather than the overall objectives. Your input to idea generation and problem solving is minimal.",
    - "You have supported the team to set and achieve goals, and helped to keep track of activity and progress. You contributed to idea generation for the team and helped with problem-solving.",
    - "You actively helped to establish a team vision and goals, and support the team to achieve these. You play a significant role in keeping the team on task, monitoring progress. You made a big contribution to idea generation and problem-solving."]
    - ethics = ["You have ignored your academic/professional responsibilities, e.g. by committing plagiarism, or behaving inappropriately or in a way that reflects negatively on the team. Your actions could cause the whole team to fail.",
    - "You have overlooked some academic/professional responsibilities, perhaps omitting references, or making remarks that have been offensive to a team member or other individual. You need to think about the impact of your behaviour on others.",
    - "You behave responsibly and in line with your academic/professional responsibilities, ensuring work is referenced appropriately, and that your actions do not negatively impact others.",
    - "You are a role model for others, behaving professionally and ethically even in difficult circumstances. You take great care to ensure that your interactions with others are positive and do not have a negative impact."]
    - values_info = [attendance,attitude,qac,communication,collaboration,leadership,ethics]

    - feedback_average = PeerFeedback.array_int_to_feedback(@average_overall)

    - for x in 0...feedback_values.length
      - if x == 0
        %p
          %strong
            #{feedback_values[x]}:
          - if  feedback_average[x] == 'Unsatisfactory'
            %span.text_red
              Unsatisfactory
          - elsif feedback_average[x] == 'Needs Improvement'
            %span.text_yellow
              Needs Improvement
          - elsif feedback_average[x] == 'Meets Expectations'
            %span.text_green 
              Meets Expectations
          - elsif feedback_average[x] == 'Exceeds Expectations'
            %span.text_green 
              Exceeds Expectations
          - else
            %span 
              N/A
        %hr

      - else
        %p
          %strong
            #{feedback_values[x]}:
          - if  feedback_average[x] == 'Unsatisfactory'
            %span.text_red{"data-placement" => "bottom", "data-toggle" => "tooltip", href: "#", title: values_info[x-1][0]}
              Unsatisfactory
          - elsif feedback_average[x] == 'Needs Improvement'
            %span.text_yellow{"data-placement" => "bottom", "data-toggle" => "tooltip", href: "#", title: values_info[x-1][1]}
              Needs Improvement
          - elsif feedback_average[x] == 'Meets Expectations'
            %span.text_green{"data-placement" => "bottom", "data-toggle" => "tooltip", href: "#", title: values_info[x-1][2]} 
              Meets Expectations
          - elsif feedback_average[x] == 'Exceeds Expectations'
            %span.text_green{"data-placement" => "bottom", "data-toggle" => "tooltip", href: "#", title: values_info[x-1][3]} 
              Exceeds Expectations
          - else
            %span 
              N/A
        %hr

  - else
    %p No feedback data for module on this level.

  :javascript
    loadTooltips();
- else
  %p You are not in an active team in this module.