- if @module_info.level == 4 || @module_info.level == 5
  - if @team_info.nil?
    %p You are not in an active team in this module.
  - else
    %h6.d-flex.align-items-center.text_center
      %i.material-icons.text-info.mr-2 feedback
      Feedback Graph  
    .hr.group_line.mb-1
    %div{style: "height: 400px"}
      %canvas#feedback_chart

      :javascript
        generateFeedbackChart(#{@average_feedback_data}, #{@num_of_periods});
- else
  %p No feedback data for module on this level.