- # View for module handbook
- # Authors: Anton Minkov && Laney Deveson
- # Date: 06/04/2021

- content_for :title, "Handbook"

.container.body_whole_custom_3

  .container-fluid.bg_none.row.no_padding.margin_bottom_none.text_black.special_margin_top
    %h.float_left.bigger
      Module Privileges
  %hr.group_line.special_margin_top


  .container-fluid.bg_none.row.no_padding.margin_bottom_none.text_black
    .container.col-xs-5.col-sm-3.no_padding_right.no_padding_left
      %p
        %strong
          privilige-1
    .container.col-xs-13.col-sm-9.no_padding_right.no_padding_left
      %p 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised 
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.
  %hr.group_line


  .container-fluid.bg_none.row.no_padding.margin_bottom_none.text_black
    .container.col-xs-5.col-sm-3.no_padding_right.no_padding_left
      %p
        %strong
          privilige-2
    .container.col-xs-13.col-sm-9.no_padding_right.no_padding_left
      %p 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised 
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.
  %hr.group_line


  .container-fluid.bg_none.row.no_padding.margin_bottom_none.text_black
    .container.col-xs-5.col-sm-3.no_padding_right.no_padding_left
      %p
        %strong
          privilige-3
    .container.col-xs-13.col-sm-9.no_padding_right.no_padding_left
      %p 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised 
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including 
        versions of Lorem Ipsum.
  %hr.group_line