- # View for previous feedback
- # Authors: Anton Minkov && Laney Deveson
- # Date: 08/05/2021

- content_for :title, "Profile - Previous Feedback"

.container
  .main-body.no_padding_top
    .row.gutters-sm
      .col-md-4.mb-2
        .card.card_border
          %ul.list-group.list-group-flush
            %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap.list_padding_small.width_100.center_text
              %h5.mb-0.width_100
                Active modules
            - for i in 0...5
              %li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap.list_padding_small
                %h8.mb-0.smaller
                  %b
                    COM3214
                  Software Hut
                %span.text-secondary 
                  %i.small
                    Spring
      .col-md-8.mb-2
        .row.gutters-sm
          .col-sm-12.mb-6
            .card.h-100.card_border
              .card-body
                %h6.d-flex.align-items-center.text_center
                  %i.material-icons.text-info.mr-2 feedback
                  Feedback Graph  
                .hr.group_line.mb-1
                %div{style: "height: 400px"}
                  %canvas#feedback_chart

                  :javascript
                    generateFeedbackChart();