- # Test view
- # Authors: Anton Minkov && Laney Deveson
- # Date: 29/03/2021

- content_for :title, "Test"

.card.mb-3.card.mb-3-student
  .card-header.card-header-student
    Choose module
  .card-body.card-body-student
    - collection = %w(Module-1 Module-2 Module-3 Module4 Module-5)

    = simple_form_for :form_examples do |f|
      = f.input :select2, as: :select, collection: collection, input_html: { class: 'module_dropdown', id: 'module_dropdown' }, include_blank: false, label: false, requied: false
      = f.button :submit, "Select", type:"button", class: "btn btn-primary select_module d-flex justify-content-center", id:"submit_choice", onclick:"getSelectedModule()", "data-disable-with" => "Loading.."

.container.module_body
  %h1{:id => "module_name"} Choose a module first
  .container.module_info#hider
    .container.module_div.module_group
      %p group
    .container.module_div.module_feedback
      %p feedback  

:coffee
  $ ->
    $('#show-flash').on 'click', ->
      $.flashAlert('big pp world!', 'alert-success')