// CSS for the system privileges page
// Authors: Anton Minkov && Laney Deveson
// Date: 05/04/2021

.body_whole_custom {
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgb(31, 20, 93);
  background-color: white;
  margin-bottom: 3%
}

.body_whole_custom_transparent {
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  margin-bottom: 3%
}

.bg_none {
  background-color: transparent;
  border: none;
}

.action_buttons {
  float: center;
  //text-align: center;
  //font-size: larger;
  color: white;
  background-color: rgb(31, 20, 93);
  font-family: 'Steph';
  width: 100%;
}

.mb-0 > a {
  display: block;
  position: relative;
}
// .mb-0 > a:after {
//   content: "\f078"; /* fa-chevron-down */
//   font-family: 'FontAwesome';
//   position: absolute;
//   right: 0;
// }
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}

.text_black {
  color: black;
}

.search_logo {
  margin-left: 1%;
  margin-top: 2%;
  width: 25%;
  height: auto;
}

.float_left {
  float: left;
}

.button_search {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  width: 50%
}

.button_search_2 {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  width: 80%
}

.no_padding {
  padding: 0%;
}

.no_padding_right {
  padding-right: 0%;
}

.no_padding_left {
  padding-left: 0%;
}

.overflow_style {
  overflow-x:auto;
}

.margin_bottom_small {
  margin-bottom: 1% !important;
}

.margin_bottom_medium {
  margin-bottom: 5%;
}

.margin_top {
  margin-top: 2%;
}

.margin_top_none {
  margin-top: 0%;
}

.scroll_down {  
  max-height: 700px !important;
  overflow: auto;
}

.table {
  margin-bottom: 0%;
  border-radius: 0px;
  border: none;
  background-color: #EEEEFF;
  color: black;
}

.hover_color {
  background-color: white;
  color: black !important;
}

.black_text {
  color: black !important;
}

.table_div {
  margin-bottom: 0%;
  border: none;
  border-radius: 3px;
}

.bg_border {
  border-radius: 8px;
  border: 2px solid rgb(31, 20, 93);;
}

.bg_white {
  background-color: white;
}

.center_element {
  text-align: center;
}

.no_results {
  padding: 20px;
  background-color: white;
  text-align: center;
}

.button_add_module {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 0%;
  float: right;
  width: 65%
}

.button_remove_module {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 0%;
  float: left;
  width: 100%
}

.padding_right_small {
  padding-right: 1%;
}

.uni_purple {
  color: rgb(31, 20, 93) !important;
}

a:hover {
  color: rgb(0, 159, 218) !important;
}

.button_handbook {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 0%;
  float: right;
  width: 75%
}

.button_groups {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 0%;
  float: right;
  width: 100%
}

.button_placeholder {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 0%;
  float: right;
  width: 35%
}

.no_border {
  border: none !important;
}

.float_left_override {
  float: left !important;
}

.body_whole_custom2 {
  width: 55%;
  border-radius: 8px;
  border: 1.5px solid rgb(31, 20, 93);
  background-color: white;
  margin-bottom: 3%
}

.transition_timer {
  transition:all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
}

.transit_timer {
  transition-duration: 0.3s;
}

.bg_purple {
  background-color: rgb(31, 20, 93);
  border-color: rgb(31, 20, 93);
}

.bg_purple:focus {
  box-shadow: none;
}

.bg_purple.focus {
  box-shadow: none;
}

.bg_purple:hover {
  background-color: rgb(0, 159, 218);
  border-color: rgb(0, 159, 218);
}

.bg_purple.active:not(:disabled):not(.disabled) {
  background-color: rgb(0, 159, 218);
  border-color: rgb(0, 159, 218);
}

.body_whole_custom_4 {
  width: 90%;
  border-radius: 8px;
  border: 1.5px solid rgb(31, 20, 93);
  background-color: white;
  margin-bottom: 3%
}

.margin_left {
  margin-left: 1%;
}

.special_margin_top_px_medium {
  margin-top: 20px;
}

.special_margin_top_small {
  margin-top: 10px;
}

.button_change_privilege {
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  width: 35%
}

.no_padding_override {
  padding: 0% !important;
}

.no_padding_top {
  padding-top: 0%;
}

.padding_wrap_special {
  padding-top: 5% !important;
  padding-bottom: 1% !important;
}

thead th { 
  position: sticky; 
  top: 0; 
  z-index: 1; 
  background-color: #EEEEFF;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 0px 0 rgb(31, 20, 93),
              inset 0 -2px 0 rgb(31, 20, 93);
}

table tbody:nth-of-type(1) tr:nth-of-type(1) td {
  border-top: none !important;
}


// .purple_border_bottom {
//   border-bottom: 2px solid rgb(31, 20, 93) !important;
//   border-color: rgb(31, 20, 93) !important;
// }

//border-color: #454d55;
//border-bottom: 2px solid #dee2e6;
//background-color: #EEEEFF;
