.body_whole_custom {
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgb(31, 20, 93);
  background-color: white;
  margin-bottom: 3%
}

.bg_none {
  background-color: transparent;
  border: none;
}

.action_buttons {
  float: center;
  //text-align: center;
  //font-size: larger;
  color: white;
  background-color: rgb(31, 20, 93);
  font-family: 'Steph';
  width: 100%;
}

// .accordion-item {
// //   background-color: rgb(247, 245, 245);
// //   border: 1.5px solid rgb(31, 20, 93);
//   width: 100%;
// }

// .accordion-header {
//   background-color: rgb(31, 20, 93);
// }

// .accordion-button {
//   border-radius: 8px;
//   color: white;
//   background-color: rgb(31, 20, 93);
//   font-family: 'Steph';
//   width: 100%;
//   text-align: left;
// }

// .accordion-body {
//   border-radius: 8px;
//   color: black;
// }

// h2 {
//   margin: 0%;
// }

// .accordion {
//   margin-bottom: 2%;
// }

.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}