/*
  *= require bootstrap_setup
  *= require font_awesome_setup
  *= require select2
  *= require select2-bootstrap
  *= require layout
  *= require forms
  *= require warning_page
  *= require custom_flash
  *= require environment_notice
  *= require student_page
  *= require footer_new
  *= require toa
  *= require admin_page
  *= require admin_privileges
  *= require module_info
  *= require switch_toogle
  *= require upload_file
  *= require matrix
  *= require review
  *= require alerts
  *= require wizard
  *= require student_profiles
*/
