// CSS for all layouts
// Authors: Anton Minkov && Laney Deveson
// Date: 29/03/2021

@import 'variables';

//Adding University Fonts
@font-face {
  font-family: 'Blake';
  src: url('/fonts/Blake.ttf');
}

@font-face {
  font-family: 'Steph';
  src: url('/fonts/Steph.ttf');
}

html,body {
  height: 100%;
  font-family: 'Steph';
  background-image: url("/images/bg1.jpg")
}

#wrap {
  position: relative;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -1 * $footer-height;
  padding: 0 0 $footer-height;
}

#main-container {
  padding-top: $footer-height;
}

#footer {
  background-color: rgb(31, 20, 93);
  position: relative;
  height: $footer-height;
  padding-top: 20px;
  border-top: 1px solid $gray-300;
  font-size: 0.9 * $font-size-base;
}

.logo_top_left {
  border: 1px solid black;
  max-width: 100%;
  height: auto;
  float:left;
  margin-right: 1%;
  margin-left: 0%;
}

.navbar-logo {
  text-align: left;
}

.nav_bar_logo {
  //display: inline-block;
  width: 12.5%;
  margin: 0%;
}

.nav_bar_menu {
  width: 86.5%;
  text-align: left;
  margin: 0%;
}

@media (min-width: 1200px) {
  .container.nav_bar_menu {
    max-width: 1640px;
  }
}

.blue_line {
  position: absolute;
  top: 0;
  background-color: rgb(0, 159, 218);
  color: rgb(0, 159, 218);
}

.top_line {
  position: relative;
}