// CSS for student profiles
// Authors: Anton Minkov && Laney Deveson
// Date: 06/05/2021

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

a.text_dark {
  color: rgb(31, 20, 93) !important;
}

a.text_dark_hover:hover {
  color: rgb(31, 20, 93) !important;
}

.logout_profile:hover {
  background-color: rgb(209, 200, 255) !important;
}

.btn-outline-primary.text_dark:hover {
  background-color: #6fabec;
  border-color: #007bff;
}

.no_padding_top {
  padding-top: 0 !important;
}

.list_padding_small {
  padding: 0.40rem 0.50rem !important;
}

.width_100 {
  width: 100%;
}

.card_border {
  border: thin solid rgb(31, 20, 93) !important;
  border-radius: 5px !important;
}

.margin_right_small {
  margin-right: 5px;
}

#same_height {
  height: 172px;
}

.padding_left_none {
  padding-left: 0px !important;
}

.navbar-brand:focus {
  outline: none;
}

.text_begone {
  color: transparent;
}

.border_begone {
  border-radius: 4px;
  border: transparent;
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1500px;
  }
}

.list-group-item_special {
  border: thin solid black;
}

.list_padding_smaller {
  padding: 0.10rem 0.40rem !important;
}

.no_padding_left_force {
  padding-left: 0% !important;
}

.no_padding_right_force {
  padding-right: 0% !important;
}

.special_join_teams_button_center {
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  font-size: larger;
  color: white;
  background-color: #1f145d;
  font-family: 'Steph';
}