// CSS for the toa/tmr page
// Authors: Anton Minkov && Laney Deveson
// Date: 01/04/2021

.body_whole {
  width: 70%;
  border-radius: 8px;
  border: 1.5px solid rgb(31, 20, 93);
  background-color: white;
  margin-bottom: 3%
}

.table_main {
  border: 1px solid black;
  width: 100%;
  margin: auto;
  margin-bottom: 3%;
}

.column_name {
  border: 1px solid black;
  padding: 2px 5px;
}

.column_content {
  border: 1px solid black;
  padding: 2px 10px;
  color: rgb(75, 70, 70);
  font-style: italic;
}

.smaller {
  font-size: calc(11px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
}

.small {
  font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.medium {
  font-size: calc(15px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.bigger {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
}

.better_header {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 20px;
  text-align: center;
}

.only_bold {
  font-weight: bold;
}

.thinner_line {
  border: 0.5px solid rgb(197, 195, 195);
}

.white_bg {
  color: black !important;
  background-color: white;
}

.text_black {
  color: black !important;
}

.small_bottom_margin {
  margin-bottom: 0.5%;
}

.header_agreemnet {
  font-weight: bold;
}

.push_top {
  margin-top: 3%;
}

.div_buttons_1 {
  margin: 0 auto;
  display: inline;
}

.div_buttons_action_1 {
  margin: 0 auto;
  display: inline;
}

.agreement_buttons {
  float: right;
  //text-align: center;
  font-size: larger;
  color: white;
  background-color: rgb(31, 20, 93);
  font-family: 'Steph';
  width: 35%;
}

.agreement_buttons:hover {
  background-color: rgb(0, 159, 218);
  color: black;
}

.button_toa_1 {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left: 1%;
}

.button_toa_2 {
  margin-top: 0%;
  margin-bottom: 2%;
  margin-right: 1%;
}

.toa_logo {
  margin-top: 2%;
  width: 65%;
  height: auto;
}

.column_name {
  font-size: 16px;
}

.table_cell_custom {
  font-size: 16px;
  height: 18px;
  border: none;
}

.form-group {
  margin-bottom: 0rem;
}

.form-control {
  border-radius: 0rem;
}

.half_button {
  cursor: not-allowed;
  pointer-events: none;
  //text-align: center;
  font-size: larger;
  color: GrayText;
  cursor: inherit;
  background-color: #ddd;
  background: #ddd;
  font-family: 'Steph';
  width: 35%;
}

.half_button_50 {
  cursor: not-allowed;
  pointer-events: none;
  //text-align: center;
  font-size: larger;
  color: GrayText;
  cursor: inherit;
  background-color: #ddd;
  background: #ddd;
  font-family: 'Steph';
  width: 40%;
}

.container_middle {
  text-align:center;
}

.agreement_buttons_2 {
  font-size: larger;
  color: white;
  background-color: rgb(31, 20, 93);
  font-family: 'Steph';
  width: 35%;
}

.problem_dot {
  width: 2%;
  height: auto;
}

.small_p {
  width: 20%;
  height: auto;
}


.dot_green {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  border: solid rgb(31, 20, 93);
  border-width: thin;
  background: #43971c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7daf41, #43971c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7daf41, #43971c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dot_yellow {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  border: solid rgb(31, 20, 93);
  border-width: thin;
  background: #e5e906;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ddcc4a, #e5e906);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ddcc4a, #e5e906); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dot_red {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  border: solid rgb(31, 20, 93);
  border-width: thin;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button_solve {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  float: right;
  width: 75%;
}

.button_assign {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  float: right;
  width: 50%;
}

.button_off {
  cursor: not-allowed !important;
  pointer-events: none !important;
  color: GrayText !important;
  cursor: inherit;
  background-color: #ddd !important;
  background: #ddd !important;
  font-family: 'Steph';
}