@import "bootstrap/functions";
@import "bootstrap/variables";

$footer-height: 112px;
$environment-notice-height: 2rem;
//$body-bg: PapayaWhip;
$navbar-dark-color: white;
$theme-colors: ("dark": rgb(31, 20, 93));

